<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    tools:overrideLibrary="com.ipcamera.main"

    package="com.sen5.smartlifebox"
    android:sharedUserId="android.uid.system">

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:process="com.sen5.ipcamera.process"
        >
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pairhome.PairHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.camera.EnterWifiPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.camera.EnterWifiNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.camera.ConnectCameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.members.EditMemberNameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.camera.EditCameraNameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <!--<service android:name=".data.service.DeviceSDKService" />-->

        <!--<service android:name=".data.service.P2PConnectService" />-->

        <activity
            android:name=".ui.other.EditContactNumberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.other.EditContactNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.other.SetEmergencyContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--<receiver android:name=".data.broadcastreceiver.BootCompleteBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="com.sen5.process.smarthome.key" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->




    </application>

</manifest>